Pyrogram==1.4.16
TgCrypto==1.2.5
pytgcalls==4.1.0
python-dotenv==1.2.2
aiofiles==23.2.1
aiohttp==3.14.0
requests==2.34.2
orjson==3.11.9
astral==3.2
pytz==2024.1
httpx==0.28.1
sqlalchemy==2.0.50
aiosqlite==0.22.1
